body {
  background-color: lightgrey;
  display: flex;
  flex-flow: column nowrap;


  user-select: none;
}

h1 {
  font-size: 30px;
  text-align: center;
}

textarea {
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  height: 120px;
}

input {
  width: 80%;
  color: white;
  background-color: blue;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 10px;
}

div {
  max-width: 80%;
  vertical-align: bottom;
  max-height: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: bisque;
}

span {
  max-width: 80%;
  vertical-align: bottom;
  max-height: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  border: 0.5px solid black;
  border-radius: 0px;
  background-color: white;
}

.button {
  width: 80%;
  color: white;
  background-color: blue;
  height: 20px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
}

/*.JSONview {*/
/*  max-width: 80%;*/
/*  vertical-align: bottom;*/
/*  max-height: 80%;*/
/*  margin-left: 10%;*/
/*  margin-bottom: 10px;*/
/*  border: 2px solid black;*/
/*  border-radius: 10px;*/
/*  background-color: bisque;*/
/*}*/

