title {
  height: 100%;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.container_calc {
  width: 600px;
  height: 250px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: auto;
  margin: auto;
}
.container__form-form {
  display: flex;
  justify-content: center;
  text-align: right;
  font-family: Arial, sans-serif;
  font-size: xx-large;
  width: 96.5%;
  height: 45px;
  margin: 10px;
  border: none;
}
.container__form-form__input {
  margin: 0;
  border: 1px solid lightgrey;
}
.container__item {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  border: unset;
  font-size: 13px;
  user-select: none;
  background-color: #ececec;
  width: 12.5%;
  height: 11%;
  cursor: pointer;
}
.container__item:hover,
.container__item:focus {
  background-color: #b9b9b9;
}
.container__item_equal {
  background-color: dodgerblue;
}
.container__item_operator {
  background-color: lightgrey;
}
.container__radDeg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  border: 1px black solid;
  margin: 3px;
  width: 26.3%;
  height: 11%;
  border: unset;
}
.container__radDeg_rad {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 3px;
  border: unset;
  font-size: 13px;
  user-select: none;
  background-color: lightgrey;
  width: 12.5%;
  height: 11%;
  cursor: pointer;
  align-items: center;
  margin: unset;
  width: 50%;
  height: 100%;
  border-bottom-right-radius: unset;
  border-top-right-radius: unset;
  padding: unset;
}
.container__radDeg_rad:hover,
.container__radDeg_rad:focus {
  background-color: #a0a0a0;
}
.container__radDeg_rad:hover,
.container__radDeg_rad:focus {
  background-color: #b9b9b9;
}
.container__radDeg_deg {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 3px;
  border: unset;
  font-size: 13px;
  user-select: none;
  background-color: lightgrey;
  width: 12.5%;
  height: 11%;
  cursor: pointer;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: unset;
  border-left: darkgrey solid 2px;
  border-bottom-left-radius: unset;
  border-top-left-radius: unset;
}
.container__radDeg_deg:hover,
.container__radDeg_deg:focus {
  background-color: #a0a0a0;
}
.container__radDeg_deg:hover,
.container__radDeg_deg:focus {
  background-color: #b9b9b9;
}
/*# sourceMappingURL=style.css.map */