.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #3f3f3f;
  padding: 5px;
  border-radius: 10px;
  max-width: 360px;
  font-family: "Arial" cursive;
}
.item {
  background-color: #c2c2c2;
  color: black;
  padding: 20px;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: arial;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
form {
  max-width: 100%;
}
input {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 40px;
  outline: none;
  text-align: right;
}
.input {
  grid-column: 1/-1;
  padding: 0;
}
