h1 {
  font-size: 30px;
  text-align: center;
}
textarea {
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid darkgrey;
  border-radius: 10px;
  height: 120px;
}
.button {
  width: 80%;
  color: white;
  background-color: blue;
  height: 20px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  margin: auto auto;
  user-select: none;
}
.JSON {
  font-size: 20px;
  max-width: 80%;
  margin-top: 15px;
  margin-left: 10%;
  user-select: none;
  border-radius: 10px;
  background-color: bisque;
}
.JSON--border {
  border: 1px solid darkgrey;
}
.JSON--JSONview {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 40px;
}
.JSON--triangle {
  margin-left: 5px;
  user-select: none;
  transform: rotate(90deg);
}
.JSON--firstBlock {
  max-width: 95%;
  margin-left: 2.5%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #c2c2c2;
}
.JSON--secondBlock {
  max-width: 95%;
  margin-left: 2.5%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: gainsboro;
}
/*# sourceMappingURL=visualize_JSON.css.map */