.loginForm__background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
}
.loginForm__input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 200px auto auto auto;
  width: 300px;
  height: 150px;
  padding: 10px;
  background-color: #c5c5c5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}
.loginForm__input .input__form {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 20px;
}
.loginForm__input .input__form-caption {
  margin-bottom: 5%;
}
.loginForm__input .input__form-inputName {
  width: 295px;
  height: 30px;
}
.loginForm__input .input__form-submit {
  width: 30%;
  height: 30px;
  margin: 8px auto auto 100px;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px auto auto;
  width: 80%;
  height: 80%;
}
.container .chatList {
  border-radius: 10px;
  border: 1px solid black;
  width: 150px;
  height: 350px;
  margin: 10px 10px 10px 10px;
  background-color: #ececec;
  user-select: none;
}
.container .chatList__room {
  padding-left: 10px;
  width: 120px;
  height: 20px;
}
.container .chatList__createChat {
  padding-left: 10px;
  width: 120px;
  height: 80px;
}
.container .chatList__createChat-chatName {
  background-color: white;
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 0px;
}
.container .chatList__createChat-submit {
  width: auto;
  height: 20px;
}
.container .chatList__logOut {
  width: 80px;
  margin: 5px auto auto;
  height: 20px;
  text-align: center;
  background-color: red;
  color: white;
}
.container .chat {
  border-radius: 10px;
  border: 1px solid black;
  width: 600px;
  height: 400px;
  margin: 10px 10px 10px 10px;
  background-color: #ececec;
  overflow-y: auto;
}
.container .chat .messageBlock {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 550px;
  height: 30px;
  border: none;
  padding: 3px 3px 3px 3px;
  margin: 3px 3px 3px 3px;
}
.container .chat .messageBlock__message {
  width: auto;
  height: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: antiquewhite;
}
.container .chat .messageBlock__user {
  width: 80px;
  height: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: antiquewhite;
}
.container .clientListContainer {
  border-radius: 10px;
  border: 1px solid black;
  width: 150px;
  margin: 10px 10px 10px 10px;
  background-color: #ececec;
}
.container .clientListContainer__text {
  margin: 8px 5px 5px 5px;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 20px;
}
.container .clientListContainer__text-userName {
  font-size: 20px;
}
.container .clientListContainer__logInName {
  margin-left: 10px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  width: 100px;
  font-size: 15px;
}
.container .clientListContainer__status {
  margin-left: 10px;
  width: 50px;
}
.container .clientListContainer__status-offline {
  color: red;
  font-size: 20px;
}
.container .clientListContainer__status-online {
  color: green;
  font-size: 20px;
}
.container .clientListContainer__clientList {
  border: none;
  width: 140px;
  margin: 0px 0px 0px 0px;
}
.container .sendMessage {
  background-color: bisque;
  border-radius: 10px;
  border: 1px solid black;
  width: 500px;
  height: 120px;
  margin: 10px 10px 10px 10px;
}
.container .sendMessage__input {
  border-radius: 10px;
  margin: 5px 5px 5px 20px;
  width: 90%;
  height: 60px;
}
.container .sendMessage__submit {
  width: 90px;
  height: 30px;
  margin-left: 385px;
  background-color: blueviolet;
  color: white;
}
/*# sourceMappingURL=style.css.map */