
.loginForm {

  &__background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
  }

  &__input {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 200px auto auto auto;
    width: 300px;
    height: 150px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;

    .input__form {

      font-family: Arial, sans-serif;
      text-align: center;
      font-size: 20px;

      &-caption {
        margin-bottom: 5%;

      }

      &-inputName {
        width: 295px;
        height:30px;
      }

      &-submit {
        width: 30%;
        height: 30px;
        margin: 8px auto auto 100px;
      }
    }
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px auto auto;
  width: 80%;
  height: 80%;

  .chatList {
    border-radius: 10px;
    border: 1px solid black;
    width: 150px;
    height: 135px;
    margin: 10px 10px 10px 10px;
    background-color: #ececec;
    user-select: none;

    &__room {
      padding-left: 10px;
      width:120px;
      height: 20px;


    }

    &__logOut {
      width: 80px;
      margin: 5px auto auto;
      height: 20px;
      text-align: center;
      background-color: red;
      color: white;
    }

  }

  .chat {
    border-radius: 10px;
    border: 1px solid black;
    width: 600px;
    height: 400px;
    margin: 10px 10px 10px 10px;
    background-color: #ececec;
    overflow-y: auto;

    .messageBlock {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 550px;
      height: 30px;
      border: none;
      padding: 3px 3px 3px 3px;
      margin: 3px 3px 3px 3px;

      &__message {
        width: auto;
        height: 15px;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: antiquewhite;
      }

      &__user {
        width: 80px;
        height: 15px;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: antiquewhite;
      }
    }
  }

  .clientListContainer {
    border-radius: 10px;
    border: 1px solid black;
    width: 150px;
    margin: 10px 10px 10px 10px;
    background-color: #ececec;

    &__text {
      margin: 8px 5px 5px 5px;
      font-family: Arial, sans-serif;
      text-align: center;
      font-size: 20px;

      &-userName {
        font-size: 20px;
      }
    }

    &__status {
      margin: 10px 10px 10px 10px;
      width: 50px;

      &-offline {
        color: red;
        font-size: 20px;
      }

      &-online {
        color: green;
        font-size: 20px;
      }
    }
    &__clientList {
      border: none;
      width: 140px;
      margin: 0px 0px 0px 0px;
    }
  }

  .sendMessage {
    background-color: bisque;
    border-radius: 10px;
    border: 1px solid black;
    width: 500px;
    height: 120px;
    margin: 10px 10px 10px 10px;

      &__input {
        border-radius: 10px;
        margin: 5px 5px 5px 20px;
        width: 90%;
        height: 60px;


      }
      &__submit {
        width: 90px;
        height: 30px;
        margin-left: 385px;
        background-color: blueviolet;
        color: white;
      }
    }
}

