.container {
  display: flex;
  flex-flow: row wrap;
}
.container .inputData {
  flex-direction: column;
  margin: 5px 5px 5px 5px;
  line-height: 30px;
}
.container .inputData__caption {
  padding-left: 5px;
  height: 30px;
  width: 200px;
  font-size: 20px;
  user-select: none;
}
.container .inputData__input {
  padding-left: 5px;
  height: 30px;
  width: 200px;
}
.container .buttonBlock {
  flex-direction: column;
  margin: 5px 5px 5px 5px;
}
.container .buttonBlock__button {
  width: 90px;
  height: 40px;
  border-radius: 7px;
  background-color: lightgray;
  font-family: sans-serif Arial;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  border: solid 1px black;
  cursor: pointer;
}
.container .table {
  width: 500px;
  align-content: start;
  border: 1px solid black;
  margin: 5px 5px 5px 5px;
}
.container .table__tableRow {
  height: 25px;
  border: 1px solid black;
}
.container .table__tableRow-first {
  height: 50px;
}
.container .table__tableCell-number {
  width: 80px;
}
/*# sourceMappingURL=crud.css.map */